.subsystem .sonar {
    display: flex;
    gap: 5px;
}

.subsystem .sonar .toggles {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px
}
.subsystem .sonar .toggles .button {
    width: 32px
}

.subsystem .sonar .toggles .button.selected {
    border-color: #ebf100;
    color: #003b35;
    background-color: #ebf100;
    opacity: 1;
}

.subsystem .sonar .toggles .button .name {
    display: none;
}


.subsystem .sonar .display {
    opacity: 0.8;
    border: 1px solid #a5d000;
}







.subsystem .infoRow {
    display: flex;
    gap: 10px;
}



.subsystem .cheatbox {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
