.subsystem {
    border: 5px solid #a5d000;
    color: #ebf100;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    height: 100%;
}

@keyframes subsystemPowerCycleOn {
    from {
        border-color: #469528;
        color: #469528
    }
    to {
        border-color: #a5d000;
        color: #ebf100;
    }
}

@keyframes subsystemPowerCycleOff {
    from {
        border-color: #a5d000;
        color: #ebf100;
    }
    to {
        border-color: #469528;
        color: #469528
    }
}

@keyframes subsystemShutdown {
    0% {
        border-color: #a5d000;
        color: #ebf100;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: #469528;
        color: #469528
    }
}

.subsystem.powered {
    border-color: #a5d000;
    color: #ebf100;
}

.subsystem.unpowered {
    border-color: #469528;
    color: #469528;
}

.subsystem.shutdown {
    animation-name: subsystemShutdown;
    animation-duration: 0.5s;
    border-color: #469528;
    color: #469528
}

.subsystem.poweringDown {
    animation-name: subsystemPowerCycleOff;
    animation-duration: 0.2s;
    border-color: #469528;
    color: #469528
}

.subsystem.poweringUp {
    animation-name: subsystemPowerCycleOn;
    animation-duration: 0.2s;
    border-color: #a5d000;
    color: #ebf100;
}

.subsystem .titleBar {
    font-weight: bold;
    padding: 0px 5px 3px 5px;
    font-family: monospace;
    font-size: 14pt;
    display: flex;
    align-items: center;
}

@keyframes titleBarPowerCycleOn {
    from {
        background-color: #469528;
        color: rgba(0,59,53,0.7);
        text-shadow: none;
    }
    to {
        background-color: #a5d000;
        color: white;
        text-shadow: 0 0 8px black;
    }
}

@keyframes titleBarPowerCycleOff {
    from {
        background-color: #a5d000;
        color: white;
        text-shadow: 0 0 8px black;
    }
    to {
        background-color: #469528;
        color: rgba(0,59,53,0.7);
        text-shadow: none;
    }
}

@keyframes titleBarShutdown {
    0% {
        background-color: #a5d000;
        color: white;
        text-shadow: 0 0 8px black;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: #469528;
        color: rgba(0,59,53,0.7);
        text-shadow: none;
    }
}
.subsystem.unpowered .titleBar {
    background-color: #469528;
    color: rgba(0,59,53,0.7);
    text-shadow: none;
}

.subsystem.powered .titleBar {
    background-color: #a5d000;
    color: white;
    text-shadow: 0 0 8px black;
}

.subsystem.poweringUp .titleBar {
    background-color: #a5d000;
    color: white;
    text-shadow: 0 0 8px black;
    animation-name: titleBarPowerCycleOn;
    animation-duration: 0.2s;
}

.subsystem.poweringDown .titleBar {
    background-color: #469528;
    color: rgba(0,59,53,0.7);
    text-shadow: none;
    animation-name: titleBarPowerCycleOff;
    animation-duration: 0.2s;

}

.subsystem.shutdown .titleBar {
    background-color: #a5d000;
    color: white;
    text-shadow: 0 0 8px black;
    animation-name: titleBarShutdown;
    animation-duration: 0.5s;

}





.subsystem .titleBar .name {
    flex-grow: 1;
}

.subsystem .powerButton .button {
    color: rgba(0,59,53,0.7);
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 12pt;
}

.subsystem.unpowered .powerButton .button.enabled {
    color: #ebf100;
}

.subsystem.powered .powerButton .button {
    color: white;
    text-shadow: 0 0 8px black
}


.subsystem .powerButton .button .container {
    gap: 0;
}

.subsystem .powerButton .button .name{
    display: none;
}




.subsystem .body {
    padding: 3px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    pointer-events: all;
}

.subsystem .body .contents {
    flex-grow: 1;
}

