.subsystem {
    border: 5px solid #a5d000;
    color: #ebf100;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.subsystem.powered {
    border-color: #a5d000;
    color: #ebf100;
}

.subsystem.unpowered {
    border-color: #469528;
    color: #469528;
}


.subsystem .titleBar {
    font-weight: bold;
    padding: 0px 5px 3px 5px;
    font-family: monospace;
    font-size: 14pt;
    display: flex;
    align-items: center;
    gap: 2px;
}

.subsystem.unpowered .titleBar {
    background-color: #469528;
    color: rgba(0,59,53,0.7);
    text-shadow: none;
}

.subsystem.powered .titleBar {
    background-color: #a5d000;
    color: white;
}


.subsystem .titleBar .name {
    flex-grow: 1;
}

.subsystem .name.inactive .label {
    cursor: pointer;
}

.subsystem .titleBar .statusTabIconContainer {
    position: relative;
}

.subsystem .titleBar .statusTabIcon {
    font-size: 12pt;
    text-shadow: none;
    position: relative;
    cursor: pointer;
    padding: 2px 2px 1px 2px;
    border: 2px solid transparent;
    border-radius: 5px;
}

.subsystem .statusTabIcon.active {
    border: 2px solid #ebf100;
    border-radius: 5px;
}

.subsystem .statusTabMarks {
    position: absolute;
    bottom: -2px;
    right: 0px;
    display: flex;
}

.subsystem .statusTabMarks .tabMark {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    position: relative;
}

.tabMark.damage1 {
    background-color: #a5d000;
    border: 1px solid #469528;
}

.tabMark.damage2 {
    background-color: #dba800;
    border: 1px solid #7e6000;
}

.tabMark.damage3 {
    background-color: rgb(194, 0, 0);
    border: 1px solid #580000;
}

.tabMark .leak {
    font-size: 12px;
    position: absolute;
    color: black;
    top: 4px;
    left: 2px;
}


.subsystem.unpowered .titleBar .statusTabIcon {
    _color: #ebf100;

}

.subsystem.unpowered .titleBar .statusTabIcon.hasEffects {
    color: #ebf100;
}



.subsystem .titleBar .statusTabIcon .effectCount {
    pointer-events: none;
    background-color: red;
    padding: 0 4px 0 4px;
    position: absolute;
    left: -10px;
    top: 6px;
    font-size: 10pt;
    border-radius: 7px;
    z-index: 1;
    font-family: sans-serif;
}




.subsystem.powered .titleBar .name {
    text-shadow: 0 0 8px black;
}


.subsystem .powerButton .button {
    color: rgba(0,59,53,0.7);
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 12pt;
}

.subsystem.unpowered .powerButton .button.enabled {
    color: #ebf100;
}

.subsystem.powered .powerButton .button {
    color: white;
    text-shadow: none;
}


.subsystem .powerButton .button .container {
    gap: 0;
}

.subsystem .powerButton .button .name{
    display: none;
}

.subsystem .tab {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    position: relative;
    padding: 5px;
    overflow-y: auto;

}

.subsystem .body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 5px;
}

