hr {
    background-color: #a5d000;
    height: 1px;
    border: none;
    margin-right: 6px;
}



.button {
    border: 2px solid #a5d000;
    border-radius: 8px;
    padding: 4px;
    color: #a5d000;
    position: relative;
    background-color: transparent;
    font-weight: bold;
}

.button.enabled:hover {
    cursor: pointer;
    color: #ebf100;
    border: 2px solid #ebf100;
}

.button.disabled {
    color: #469528;
    border-color: #469528;
}

.button .progressContainer {
    margin-top: 3px;
    border-radius: 3px;
    background-color: #469528;
    height: 5px;
}

.button .progress {
    background-color: #ebf100;
    border-radius: 3px;
    height: 100%;
}

.button .container {
    display: flex;
    gap: 4px;
    align-items: center;
}

.button .nameAndProgress {
    flex-grow: 1;
}

.standardActions .button.recentlyCompleted {
    background-color: #ebf100;
    border-color: #ebf100;
    color: rgba(0,59,53,1);
}




.slider {
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.slider .sliderTrack {
    top: 10px;
    background-color: black;
    height: 1px;
}

.slider .sliderThumb {
    width: 10px;
    height: 20px;
    border-radius: 3px;
    background-color: black;
}


.vertSliderContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.vertSlider {
    flex-grow: 1;
    width: 30px;
    cursor: pointer;
}

.vertSliderContainer i {
    font-size: 16pt;
}

.vertSlider .sliderTrack {
    left: 10px;
    background-color: #a5d000;
    width: 10px;
    border-radius: 4px;
}

.vertSlider .sliderTrack-0 {
    background-color: #469528;
}

.vertSlider .sliderThumb {
    width: 30px;
    height: 15px;
    border-radius: 5px;
    background-color: #ebf100;
}

.vertSlider.disabled .sliderThumb {
    background-color: #469528
}


::-webkit-scrollbar {
    background: #469528;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #a5d000;
}



/*****************
 * TOOLTIP
 ****************/

 @keyframes tooltipFadeIn {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}




.tooltipArea {
    position: relative;
}

.tooltip {
    animation-name: tooltipFadeIn;
    animation-duration: 0.2s;
    z-index: 1000;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: black;
    border: 1px solid #ebf100;
    padding: 8px;
    color: white;
    opacity: 0.8;
    min-width: 200px;
    position: absolute;
}

.tooltip .topRow {
    display: flex;
}

.tooltip .topRow .longName {
    flex-grow: 1;
}

.tooltip .topRow .progressNeeded {
    color: #ebf100;
}

.tooltip .topRow .progressNeeded .icon {
    font-size: 8pt;
    margin-right: 2px;
    position: relative;
    top: -1px;
}


.tooltip .errorConditions {
    display: flex;
    flex-direction: column;
    color: red;
}
