html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #root, .app {
    height: 100%;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background: rgb(0,22,19);
    background: linear-gradient(0deg, rgba(0,22,19,1) 0%, rgba(0,59,53,1) 33%, rgba(0,122,110,1) 100%);
    color: #ebf100;

    font-family: monospace;
    font-size: 12pt;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}


hr {
    background-color: #a5d000;
    height: 1px;
    border: none;
    margin-right: 6px;
}

.button {
    border: 2px solid #a5d000;
    border-radius: 8px;
    padding: 4px 7px 4px 7px;
    position: relative;
    color: #a5d000;
    background-color: transparent;
    font-weight: bold;
}

.button.enabled:hover {
    cursor: pointer;
    color: #ebf100;
    border: 2px solid #ebf100;
}

.button.disabled {
    color: #469528;
    border-color: #469528;
}

.button .progressContainer {
    margin-top: 3px;
    border-radius: 3px;
    background-color: #469528;
    height: 5px;
}

.button .progress {
    background-color: #ebf100;
    height: 100%;
}

.button .container {
    display: flex;
    gap: 4px;
    align-items: center;
}

.button .name {
    flex-grow: 1;
}

.standardActions .button.recentlyCompleted {
    background-color: #ebf100;
    border-color: #ebf100;
    color: rgba(0,59,53,1);
}




.slider {
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.slider .sliderTrack {
    top: 10px;
    background-color: black;
    height: 1px;
}

.slider .sliderThumb {
    width: 10px;
    height: 20px;
    border-radius: 3px;
    background-color: black;
}


.vertSliderContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.vertSlider {
    flex-grow: 1;
    width: 30px;
    cursor: pointer;
}

.vertSliderContainer i {
    font-size: 16pt;
}

.vertSlider .sliderTrack {
    left: 10px;
    background-color: #a5d000;
    width: 10px;
    border-radius: 4px;
}

.vertSlider .sliderTrack-0 {
    background-color: #469528;
}

.vertSlider .sliderThumb {
    width: 30px;
    height: 15px;
    border-radius: 5px;
    background-color: #ebf100;
}

.vertSlider.disabled .sliderThumb {
    background-color: #469528
}

.subsystem.powered .boxWithScroll {
    overflow-x: auto;
    overflow-y: scroll;
}

.subsystem.unpowered .boxWithScroll {
    overflow-x: hidden;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    background: #469528;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #a5d000;
}




.standardActions {
    display: flex;
    gap: 5px;
}



.throttleActions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.throttleActions .button .rightSide {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #469528;
    opacity: 0.5
}

.throttleActions .button.selected .rightSide {
    border-color: #ebf100;
    background-color: #ebf100;
    opacity: 1;
}

.throttleActions .button.selected {
    border-color: #ebf100;
    color: #ebf100;
}


.sub {
    padding: 15px;
    display: flex;
    gap: 5px;
}

.subsystemsRow {
    display: flex;
    gap: 15px;
}

.subsystemsColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subsystem {
    border: 5px solid #a5d000;
    color: #ebf100;
    border-radius: 10px;;
    display: flex;
    flex-direction: column;
    gap: 3px;
    min-width: 240px;
}

@keyframes subsystemPowerCycleOn {
    from {
        border-color: #469528;
        color: #469528
    }
    to {
        border-color: #a5d000;
        color: #ebf100;
    }
}

@keyframes subsystemPowerCycleOff {
    from {
        border-color: #a5d000;
        color: #ebf100;
    }
    to {
        border-color: #469528;
        color: #469528
    }
}

@keyframes subsystemShutdown {
    0% {
        border-color: #a5d000;
        color: #ebf100;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: #469528;
        color: #469528
    }
}

.subsystem.powered {
    border-color: #a5d000;
    color: #ebf100;
}

.subsystem.unpowered {
    border-color: #469528;
    color: #469528;
}

.subsystem.shutdown {
    animation-name: subsystemShutdown;
    animation-duration: 0.5s;
    border-color: #469528;
    color: #469528
}

.subsystem.poweringDown {
    animation-name: subsystemPowerCycleOff;
    animation-duration: 0.2s;
    border-color: #469528;
    color: #469528
}

.subsystem.poweringUp {
    animation-name: subsystemPowerCycleOn;
    animation-duration: 0.2s;
    border-color: #a5d000;
    color: #ebf100;
}

.subsystem .titleBar {
    font-weight: bold;
    padding: 0px 5px 3px 5px;
    font-family: monospace;
    font-size: 14pt;
    display: flex;
    align-items: center;
}

@keyframes titleBarPowerCycleOn {
    from {
        background-color: #469528;
        color: rgba(0,59,53,0.7);
        text-shadow: none;
    }
    to {
        background-color: #a5d000;
        color: white;
        text-shadow: 0 0 8px black;
    }
}

@keyframes titleBarPowerCycleOff {
    from {
        background-color: #a5d000;
        color: white;
        text-shadow: 0 0 8px black;
    }
    to {
        background-color: #469528;
        color: rgba(0,59,53,0.7);
        text-shadow: none;
    }
}

@keyframes titleBarShutdown {
    0% {
        background-color: #a5d000;
        color: white;
        text-shadow: 0 0 8px black;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: #469528;
        color: rgba(0,59,53,0.7);
        text-shadow: none;
    }
}
.subsystem.unpowered .titleBar {
    background-color: #469528;
    color: rgba(0,59,53,0.7);
    text-shadow: none;
}

.subsystem.powered .titleBar {
    background-color: #a5d000;
    color: white;
    text-shadow: 0 0 8px black;
}

.subsystem.poweringUp .titleBar {
    background-color: #a5d000;
    color: white;
    text-shadow: 0 0 8px black;
    animation-name: titleBarPowerCycleOn;
    animation-duration: 0.2s;
}

.subsystem.poweringDown .titleBar {
    background-color: #469528;
    color: rgba(0,59,53,0.7);
    text-shadow: none;
    animation-name: titleBarPowerCycleOff;
    animation-duration: 0.2s;

}

.subsystem.shutdown .titleBar {
    background-color: #a5d000;
    color: white;
    text-shadow: 0 0 8px black;
    animation-name: titleBarShutdown;
    animation-duration: 0.5s;

}





.subsystem .titleBar .name {
    flex-grow: 1;
}

.subsystem .powerButton .button {
    color: rgba(0,59,53,0.7);
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 12pt;
}

.subsystem.unpowered .powerButton .button.enabled {
    color: #ebf100;
}

.subsystem.powered .powerButton .button {
    color: white;
    text-shadow: 0 0 8px black
}


.subsystem .powerButton .button .container {
    gap: 0;
}

.subsystem .powerButton .button .name{
    display: none;
}

.subsystem .body {
    padding: 3px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subsystem .ammo {
    display: flex;
    gap: 5px;
    vertical-align: middle;;
}




.subsystem .reactor {
    display: flex;
    min-height: 100px;
    gap: 8px;
}

.subsystem .reactor .history {
    border: 1px solid #a5d000;
}

.subsystem .reactor .vertSlider {
    height: 200px;
    flex-grow: 0;
}

.subsystem .reactor .history .chart {
    opacity: 0.7;
    background-color: rgba(0,22,19,1)
}



.subsystem .sonar {
    opacity: 0.8;
    border: 1px solid #a5d000;
}


.subsystem .infoRow {
    display: flex;
    gap: 10px;
}

.subsystem .subStatus {
    height: 150px;
}

.subsystem .tracking {
    height: 150px;
}




.subsystem .steering {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subsystem .steering .directions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subsystem .steering .directions .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

}

.subsystem .steering .directions .button .name{
    display: none;
}

.subsystem .steering .directions .button.active {
    background-color: #ebf100;
    border-color: #ebf100;
    color: #003b35;
}

.subsystem .steering .directions .button .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    font-size: 20pt;
}
