html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #root, .app {
    height: 100%;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    background: rgb(0,22,19);
    background: linear-gradient(0deg, rgba(0,22,19,1) 0%, rgba(0,59,53,1) 33%, rgba(0,122,110,1) 100%);
    color: #ebf100;

    font-family: monospace;
    font-size: 12pt;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}


hr {
    background-color: #a5d000;
    height: 1px;
    border: none;
}

.button {
    cursor: pointer;
    border: 2px solid #a5d000;
    border-radius: 8px;
    padding: 4px 7px 4px 7px;
    position: relative;
    color: #a5d000;
    background-color: rgba(0,59,53,0);
    font-weight: bold;
}

.button:hover {
    color: #ebf100;
    border: 2px solid #ebf100;
}

.button.disabled {
    opacity: 0.5;
}

.button .progressContainer {
    margin-top: 3px;
    border-radius: 3px;
    background-color: #469528;
    height: 5px;
}

.button .progress {
    background-color: #ebf100;
    height: 100%;
}

.button .container {
    display: flex;
    gap: 4px;
    align-items: center;
}

.button .name {
    flex-grow: 1;
}

.standardActions .button.recentlyCompleted {
    background-color: #ebf100;
    border-color: #ebf100;
    color: rgba(0,59,53,1);
}




.slider {
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.slider .sliderTrack {
    top: 10px;
    background-color: black;
    height: 1px;
}

.slider .sliderThumb {
    width: 10px;
    height: 20px;
    border-radius: 3px;
    background-color: black;
}


.vertSliderContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.vertSlider {
    flex-grow: 1;
    width: 30px;
    cursor: pointer;
}

.vertSliderContainer i {
    font-size: 16pt;
}

.vertSlider .sliderTrack {
    left: 10px;
    background-color: #a5d000;
    width: 10px;
    border-radius: 4px;
}

.vertSlider .sliderTrack-0 {
    background-color: #469528;
    opacity: 0.7
}

.vertSlider .sliderThumb {
    width: 30px;
    height: 15px;
    border-radius: 5px;
    background-color: #ebf100;
}


.standardActions {
    display: flex;
    gap: 5px;
}



.throttleActions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.throttleActions .button .rightSide {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #469528;
    opacity: 0.5
}

.throttleActions .button.selected .rightSide {
    border-color: #ebf100;
    background-color: #ebf100;
    opacity: 1;
}

.throttleActions .button.selected {
    border-color: #ebf100;
    color: #ebf100;
}




.directionActions {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.directionActions .button {
    flex-grow: 1;
}

.directionActions .button .name{
    display: none;
}

.directionActions .button.active {
    background-color: #ebf100;
    border-color: #ebf100;
    color: #003b35;

}

.directionActions .button .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    font-size: 20pt;
}



.sub {
    padding: 15px;
    display: flex;
    gap: 5px;
}

.subsystemsRow {
    display: flex;
    gap: 15px;
}

.subsystemsColumn {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.subsystem {
    border: 5px solid #a5d000;
    border-radius: 10px;;
    display: flex;
    flex-direction: column;
    gap: 3px;
    min-width: 240px;
}

.subsystem .titleBar {
    background-color: #a5d000;
    color: #003b35;
    font-weight: bold;
    padding-bottom: 3px;
    padding-left: 5px;
    font-family: monospace;
    font-size: 14pt;
}

.subsystem .body {
    padding: 3px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subsystem .ammo {
    display: flex;
    gap: 5px;
    vertical-align: middle;;
}




.subsystem .tracking .trackedEntity {
    height: 100px;
}



.subsystem .reactor {
    display: flex;
    min-height: 100px;
    gap: 8px;
}

.subsystem .reactor .history {
    border: 1px solid #a5d000;
    opacity: 0.7;
    background-color: rgba(0,22,19,1)
}



.subsystem .sonar {
    opacity: 0.8;
    border: 1px solid #a5d000;
}


.subsystem .infoRow {
    display: flex;
    gap: 10px;
}
