
@keyframes hitMark {
    0% {
        background-color: red;
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: red;
    }
}


/*
 * HITMARKS
 */


 .hitMark {
    animation-name: hitMark;
    animation-duration: 0.5s;
    background-color: red;
}
