.subsystem .minimap {
    display: flex;
    gap: 5px;
}

.subsystem .minimap .display {
    opacity: 0.8;
    border: 1px solid #a5d000;
    position: relative;
}

.subsystem .minimap .sub {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: red;
}

.subsystem .minimap .target {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #00e1ff;
}

.subsystem .minimap .background {
    background-color: #444;
}

.subsystem .minimap .feature {
    background-color: black;
}
