.subsystem .powerInfo .icon {
    font-size: 16pt;
    padding: 4px;;
}

.spowerButtonTooltip {
    margin-top: 5px;
    padding-top: 5px;
}

.powerButtonTooltip .extraPowerConsumption {
    color: #dba800;
}

.powerButtonTooltip .insufficientPower {
    color: red;
}



.subsystem .powerButton .button.default {
    color: rgba(0,59,53,0.7);
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 12pt;
}

.subsystem.damageBrokenDown .powerButton .button {
    color: red;
}

.subsystem .powerButton .button.selected {
    color: red;
}


.subsystem.powered.powerFlicker .powerButton .button {
    color: #469528 !important;
}

.subsystem.powered .powerButton .button {
    color: white;
    text-shadow: none;
}


.subsystem .powerButton .button .container {
    gap: 0;
}

.subsystem .powerButton .button .name{
    display: none;
}

