.subsystem .reactor {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subsystem .reactor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.subsystem .reactor .topRow {
    display: flex;
    gap: 5px;
}
.subsystem .reactor .history {
    border: 1px solid #469528;
    flex-grow: 1;
}

.subsystem.powered .reactor .history {
    border: 1px solid #a5d000;
}

.subsystem .reactor .controls .vertSlider {
    height: 180px;
    flex-grow: 0;
}

.subsystem .reactor .controls .sliderThumb {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.subsystem.unpowered .reactor .controls .icon {
    color: #00592f;
}

.subsystem.powered .reactor .controls .icon {
    color: #469528;
}

.subsystem .reactor .actions {
    display: flex;
    gap: 5px;
}

.subsystem .reactor .actions .button {
    width: 120px;
}

.subsystem .reactor .history .chart {
    opacity: 0.7;
    background-color: rgba(0,22,19,1)
}

.reactor .reactorFuel {
    flex: 1 0;
    align-items: center;
}

.reactor .segmentProgress.fuel {
    border: 1px solid #a5d000;
    flex-grow: 1;
    align-items: center;
}

.reactor .segmentProgress.fuel .segment {
    border: 1px solid #a5d000;
    height: 16px;
}

.reactor .segmentProgress.fuel.empty {
    border: 1px solid #469528;
}

.reactor .segmentProgress.fuel.empty .segment {
    border: 1px solid #469528;
}

.reactor .segmentProgress.fuel .segment.filled {
    background-color: #a5d000;
}



.reactor .segmentProgress.heat.overheating {
    border-color: #DA1F05;
}


@keyframes segmentOverheating {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.reactor .segmentProgress.heat.overheating .segment {
    animation-name: segmentOverheating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


.reactor .segmentProgress.heat .seg0.filled {
    background-color: #FFF75D;
}

.reactor .segmentProgress.heat .seg1.filled {
    background-color: #FFF75D;
}

.reactor .segmentProgress.heat .seg2.filled {
    background-color: #FFC11F;
}

.reactor .segmentProgress.heat .seg3.filled {
    background-color: #FFC11F;
}

.reactor .segmentProgress.heat .seg4.filled {
    background-color: #FE650D;
}

.reactor .segmentProgress.heat .seg5.filled {
    background-color: #F33C04;
}

.reactor .segmentProgress.heat .seg6.filled {
    background-color: #DA1F05;
}

.reactor .segmentProgress.heat .seg7.filled {
    background-color: #DA1F05;
}

.reactor .segmentProgress.heat .seg8.filled {
    background-color: #A10100;
}

.reactor .segmentProgress.heat .seg9.filled {
    background-color: #A10100;
}
