.subsystem .storage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 3px;
    gap: 5px;
}

.subsystem .storage .inventoryItem {
    display: flex;
    align-items: middle;
}


.subsystem .storage .materialName .icon {
    width: 20px;
    text-align: center;
}

.subsystem .storage .materialName {
    display: flex;
    align-items: middle;
    flex-grow: 1;
    gap: 5px;
}

.subsystem.powered .storage .inventoryItem.missing {
    color: red
}

.subsystem.powered .storage .inventoryItem.provided {
    color: white;
}

.subsystem .storage .inventoryCount {
}
